@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
  background-image: url("./logo1.png");
  width:100px;
  height: 50px;
  float: left;
  /*margin-top: 5px;*/
}
.ant-table-body .ant-table-row-hover{
  background: #61dafb !important;
}
.ant-table-thead >tr>th{
  color:#A9A9A9;
  font-size: 14px;
  font-family: "微软雅黑";
  font-weight: bold;

}
